#cdf_shopcar{
    height: 100%;
    background-color:#f7f7f7;
    position:relative;
    display:flex;
    flex-direction:column;
    .shopcar_header{
        background-color:#fff;
        height: 7%;
        text-align:center;
        .base{
            vertical-align:middle;
            width:0;
            height:100%;
            display:inline-block;
        }
        .content{
            vertical-align:middle;
            display:inline-block;
            font-size:0.4rem;
        }
    }
    .shopcar_main{
        flex:1;
        overflow-x:hidden;
        .empty{
            display:none;
            background-color:#fff;
            padding: 0.266667rem 0.266667rem;
            color: #666;
            word-wrap: break-word;
            font-size:0.346667rem;
            p{
                padding-bottom:1.333333rem;
            }
            .img_shop{
                height: 5.333333rem;
                background:url("http://www.cdfgsanya.com/mobile/resources/images/empty-warning/cart@3x.f0bd0b03.png") no-repeat;
                background-size:cover;
            }
            .text{
                text-align:center;
                font-size:0.4rem;
                color: #999;
            }
            a{
                display:block;
                background-color:#b81c22;
                height: 1.066667rem;
                width: 90%;
                text-align:center;
                line-height:1.066667rem;
                margin:0.133333rem auto;
                border-radius:0.133333rem 0.133333rem;
                font-size:0.4rem;
                color:#fff;
            }                
        }
        .goodCars{
            display:none;
            padding-bottom: 1.333333rem;
            .goods{
                li{
                    display:flex;
                    margin:0.266667rem 0;
                    height: 3.0rem;
                    overflow:hidden;
                    background-color:#fff;
                    .left{
                        width: 15%;
                        text-align:center;
                        line-height:3.0rem;
                        input{
                            display:inline-block;
                            width: 0.533333rem;
                            height: 0.533333rem;
                        }
                    }
                    .center{
                        flex:1;
                        position:relative;
                        padding-left:2.666667rem;
                        img{
                            position:absolute;
                            width: 2.666667rem;
                            height:2.666667rem;
                            left:0.0rem;
                            top:0.233333rem;
                        }
                        h1{
                            padding-top:0.533333rem;
                            font-size:0.346667rem;
                            line-height:0.533333rem;
                            font-weight:normal;
                            color:#333;
                            overflow : hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                        h3{
                            font-size:0.293333rem;
                            font-weight:normal;
                            color:#666;
                            span{
                                color:#b81c22;
                                font-size:0.346667rem;
                                font-weight:bold;
                            }
                        }
                        del{
                            color:#ccc;
                            font-size:0.266667rem;
                        }
                        .changeQty{
                            padding-top:0.133333rem;
                            height: 0.8rem;
                            button{
                                height: 80%;
                                width: 12%;
                                font-size:0.32rem;
                                border: 0 none;
                                vertical-align:middle;
                            }
                            button:focus{
                                outline:none;
                            }
                            span{
                                display:inline-block;
                                border-top:1px solid #ccc;
                                border-bottom : 1px solid #ccc;
                                height: 80%;
                                width: 15%;
                                vertical-align:middle;
                                text-align:center;

                            }
                        }
                    }
                    .right{
                        width: 11%;
                        height: 100%;
                        button{
                            display:block;
                            width: 100%;
                            height: 100%;
                            border: 0 none;
                            font-size:0.32rem;
                            background:#f95343;
                            color:#fff;
                            transition:all .3s;
                            transform:translateX(100%)
                        }
                    }
                }
            }
        }
    }
    .shopcar_footer{
        display:none;
        position:absolute;
        width: 100%;
        bottom:0;
        left:0.0rem;
        height: 7%;
        background-color:#fff;
        border-bottom:1px solid #ccc;
        // display:flex;
        .left{
            width: 20%;
            text-align:center;
            line-height:1.173333rem;
            input{
                display:inline-block;
                height: 0.533333rem;
                width: 0.533333rem;
                margin:0.266667rem 0.066667rem;
                vertical-align:middle;
            }
        }
        .center{
            flex:1;
            text-align:right;
            p:nth-of-type(1){
                font-size: 0.266667rem;
                color: #999;
                letter-spacing:0.026667rem;
                padding-right:0.133333rem;
            }
            P:nth-of-type(2){
                font-size: 0.32rem;
                color: #b81c22;
                padding:0.133333rem 0.133333rem;
            }
        }
        .right{
            width: 26%;
            background-color:#b81c22;
            text-align:center;
            line-height:1.173333rem;
            font-size:0.346667rem;
            a{
                color:#fff;
                display:block;
                height: 100%;
            }
            font-weight:bold;
        }
    }
}