#createbox {
    background-color: #F7F7F7;
    position:relative;
    .createbox_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 1.203703rem;
        width: 100%;
        background-color: #FFFFFF;
        font-size: 0.462962rem;
        line-height: 1.203703rem;
        a {
            display: inline-block;
            height: 1.203703rem;
            width: 0.925925rem;
            text-align: center;
            i {
                display: inline-block;
                font-size: 0.555555rem;
                font-weight: bold;
                transform: rotateY(180deg);
            }
        }
        span {
            display: inline-block;
            width: 0.462962rem;
        }
    }
    //主体
    .createbox_mian {
        height: 15.962962rem;
        margin-top: 0.555555rem;
        background-color: white;
        .login_main {
            margin-top: 0.666667rem;
            background-color: #fff;
            padding-top: 0.266667rem;
          
            .form_group {
                margin-bottom: 0.133333rem;
                position: relative;
                padding: 0.133333rem 0.4rem;
                input {
                    height: 0.8rem;
                    border: 0 none;
                    border-bottom: 0.013333rem solid #ddd;
                    width: 100%;
                    color: #000;
                    font-size: 0.293333rem;
                    padding-left: 0.266667rem;
                }
                .tip {
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    border-radius: 50%;
                    height: 0.533333rem;
                    width: 0.533333rem;
                    line-height: 0.533333rem;
                    text-align: center;
                    font-size: 0.4rem;
                    right: 4%;
                    top: 2%;
                    display: none;
                }
                .form_tip {
                    z-index: 100;
                    display: none;
                    right: 2%;
                    bottom: -30%;
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    font-size: 0.346667rem;
                    padding: 0.066667rem;
                    border-radius: 0.133333rem 0.133333rem;
                    i {
                        display: block;
                        position: absolute;
                        border: 0.266667rem solid transparent;
                        border-bottom-color: #b81c22;
                        right: 0.266667rem;
                        top: -0.466667rem;
                    }
                }
            }
            .form_group:nth-of-type(3){
                input {
                    height: 0.8rem;
                    border: 0 none;
                    border-bottom: 0.013333rem solid #ddd;
                    width: 97%;
                    color: #000;
                    font-size: 0.293333rem;
                    padding-left: 0.266667rem;
                }
                span{
                    display: inline-block;height:60px;
                    text-align:center;
                    line-height: 60px;
                    margin-bottom: 0;
                    i{
                        font-size:20px;
                    }
                }
            }
            .form_group:nth-of-type(5) {
                button {
                    width: 100%;
                    height: 0.933333rem;
                    font-size: 0.4rem;
                    border: 0 none;
                    border-radius: 10px;
                    background-color: #ccc;
                    color: #fff;
                }
                button:focus {
                    outline: none;
                }
                .alert {
                    z-index: 100;
                    display: none;
                    right: 4.0rem;
                    top: 1.2rem;
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    font-size: 0.346667rem;
                    padding: 0.066667rem;
                    border-radius: 0.133333rem 0.133333rem;
                    i {
                        display: block;
                        position: absolute;
                        border: 0.266667rem solid transparent;
                        border-bottom-color: #b81c22;
                        right: 0.266667rem;
                        top: -0.466667rem;
                    }
                }
            }
            .form_group:nth-of-type(5) {
                margin-top: 0.266667rem;
                a {
                    color: red;
                }
            }
            .defaultsAddress{
                display:flex;
                justify-content:space-around;
                .right{
                    flex:1;
                    text-align:center;
                    button{
                        display:inline-block;
                        font-size:0.346667rem;
                        width: 100px;
                        height: 0.533333rem;
                        border:0 none;
                        border-radius:0.133333rem 0.133333rem;

                    }
                    button:focus{
                        outline:none;
                    }
                }
                .left{
                    flex:1;
                    padding-left:0.666667rem;
                }
            }
        }
    }
    .overlay{
        display:none;
        position:absolute;
        background:#666;
        left:0;right:0;
        top:0;bottom:0;
        opacity:0.5;
    }
    .selectDefault{
        display:none;
        position:absolute;
        background:#fff;
        height: 40%;
        width: 100%;
        bottom:10%;
        opacity:0.8;
        // display:flex;
        padding:1.066667rem 0.666667rem;
        .select{
            flex:1;
            background:#f7f7f7;
            margin: 0 0.133333rem;
            overflow-x:hidden;  
            li{
                height: (100%/3);
                border-bottom:0.04rem solid #fff;
                background:#eee;
                text-align:center;
                vertical-align:middle;
                font-size:0.426667rem;
            }
            li::after{
                content:"";
                display:inline-block;
                vertical-align:middle;
                height: 100%;
            }
            .active{
                color:orange;
            }
        }

    }
    .confirmArea{
        display:none;
        position:absolute;
        background:#fff;
        opacity:0.8;
        height: 10%;
        width: 100%;
        bottom:0;
        button{
            display:block;
            width: 80%;
            margin:0.133333rem auto;
            height: 80%;
            border:0 none;
            border-radius:20px 20px;
            font-size:0.4rem;
            background:#b81c22;
            color:#fff;

        }
        button:focus{
            outline:none;
        }
    }
}