#createbox {
    background-color: #F7F7F7;
    .createbox_top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 1.203703rem;
        width: 100%;
        background-color: #FFFFFF;
        font-size: 0.462962rem;
        line-height: 1.203703rem;
        a {
            display: inline-block;
            height: 1.203703rem;
            width: 0.925925rem;
            text-align: center;
            i {
                display: inline-block;
                font-size: 0.555555rem;
                font-weight: bold;
                transform: rotateY(180deg);
            }
        }
        span {
            display: inline-block;
            width: 0.462962rem;
        }
    }
    //主体
    .createbox_mian {
        height: 15.962962rem;
        margin-top: 0.555555rem;
        background-color: white;
        .login_main {
            margin-top: 0.666667rem;
            background-color: #fff;
            padding-top: 0.266667rem;
          
            .form_group {
                margin-bottom: 0.133333rem;
                position: relative;
                padding: 0.133333rem 0.4rem;
                input {
                    height: 0.8rem;
                    border: 0 none;
                    border-bottom: 0.013333rem solid #ddd;
                    width: 100%;
                    color: #000;
                    font-size: 0.293333rem;
                    padding-left: 0.266667rem;
                }
                .tip {
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    border-radius: 50%;
                    height: 0.533333rem;
                    width: 0.533333rem;
                    line-height: 0.533333rem;
                    text-align: center;
                    font-size: 0.4rem;
                    right: 4%;
                    top: 2%;
                    display: none;
                }
                .form_tip {
                    z-index: 100;
                    display: none;
                    right: 2%;
                    bottom: -30%;
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    font-size: 0.346667rem;
                    padding: 0.066667rem;
                    border-radius: 0.133333rem 0.133333rem;
                    i {
                        display: block;
                        position: absolute;
                        border: 0.266667rem solid transparent;
                        border-bottom-color: #b81c22;
                        right: 0.266667rem;
                        top: -0.466667rem;
                    }
                }
            }
            .form_group:nth-of-type(3){
                input {
                    height: 0.8rem;
                    border: 0 none;
                    border-bottom: 0.013333rem solid #ddd;
                    width: 97%;
                    color: #000;
                    font-size: 0.293333rem;
                    padding-left: 0.266667rem;
                }
                span{
                    display: inline-block;height:60px;
                    text-align:center;
                    line-height: 60px;
                    margin-bottom: 0;
                    i{
                        font-size:20px;
                    }
                }
            }
            .form_group:nth-of-type(4) {
                button {
                    width: 100%;
                    height: 0.933333rem;
                    font-size: 0.4rem;
                    border: 0 none;
                    border-radius: 10px;
                    background-color: #ccc;
                    color: #fff;
                }
                button:focus {
                    outline: none;
                }
                .alert {
                    z-index: 100;
                    display: none;
                    right: 4.0rem;
                    top: 1.2rem;
                    position: absolute;
                    background: #b81c22;
                    color: #fff;
                    font-size: 0.346667rem;
                    padding: 0.066667rem;
                    border-radius: 0.133333rem 0.133333rem;
                    i {
                        display: block;
                        position: absolute;
                        border: 0.266667rem solid transparent;
                        border-bottom-color: #b81c22;
                        right: 0.266667rem;
                        top: -0.466667rem;
                    }
                }
            }
            .form_group:nth-of-type(4) {
                margin-top: 0.266667rem;
                a {
                    color: red;
                }
            }
        }
    }

}